#mortgage
  form(method='post', action='', novalidate='')
    fieldset
      legend Mortgage Set-Up
      .form-field
        label(for='house-price') House Price
        input(min='1', name='house-price', type='number')
      .form-field
        label(for='interest') Interest Rate (%)
        input#interest(min='0', max='6', step='0.01', type='number')
      .form-field
        label(for='downpayment') Downpayment
        input(min='0', name='downpayment', type='number')
    .form-actions
      // Show payments schedule on the screen.
      button.btn(type='submit') Submit